*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

p {
	margin: 3px 0;
}

html,
body {
	height: 100%
}

header {
	background-color: #f4f4f4;
	border-bottom: 1px solid black;
}

img {
	max-height: 50px;
	width: auto;
}

.card {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr 2fr;
	min-height: 250px;
}

@media only screen and (max-width: 600px) {
	.card {
		grid-template-columns: 1fr;
	}
}

.card> :first-child {
	background-color: rgba(0, 0, 255, 0.05);
	min-width: 300px;
}

.slider {
	background-color: rgba(0, 255, 0, 0.05);
}

.accordion-title {
	background-color: lightblue;
	cursor: pointer;
	margin: 0.5rem 0;
}

.accordion-body {
	background-color: aliceblue;
}
